@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

main {
    background-image: url('../../../public/imgs/peak_background.svg');

}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    width: 400px;
    height: 280px;
    border: 4px solid rgba(128, 128, 129, 0.288);
    background-color: #181829;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}

.imgCoroa {
    position: relative;
    width: 50px;
    top: -15px;
}

.gameName {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid black; */
    /* padding: 2px; */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 30px;
}

.gameTag {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 15px;
    padding: 5px;
}

.imgRaio {
    width: 120px;
}

.containerRaio {
    display: flex;
    justify-content: space-between;
}

.mecanicaGame {
    height: 70px;
    /* border: 1px solid yellow; */
    padding: 10px;
    display: flex;


    /* align-items: center; */
    /* margin: 10px; */
    /* border-radius: 12px; */
}

.teclas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.teclas div {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 18px;
}

.teclas div.active {
    background-color: rgb(197, 197, 2);
    color: rgb(31, 31, 31);
}

.containerLoading {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
}

.inLoading {
    width: 300px;
    height: 10px;
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
    max-width: 600px;
}

.loading {
    height: 100%;
    background-color: yellow;
    transition: width 0.1s ease-in-out;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.botoes button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
}

.scoreGame {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
    border: 1px solid yellow;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: white;
    border-radius: 12px;

}

.caixaGameHighScore {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid yellow; */

}
.caixaGameHighScore .gameHighScore{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    border: 1px solid rgb(247, 247, 247);

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: rgb(238, 255, 0);
}

.buttonModal {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
}

.buttonModal button {
    width: 100px;
    height: 40px;
    border: none;

    background-color: yellow;
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.4s;

}
.buttonModal button:hover {
    transform: scale(1.05);
    
}

.errorMessage {
    color: red;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid green; */
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

